:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 400ms;
  --accent-color: rgb(206, 2, 19);
  /* --vertical-nav-width: 8rem;
  --horizontal-nav-width: 4rem; */
  --vertical-nav-width: 6rem;
  --horizontal-nav-width: 8vh;
  /* transition: var(--transition-speed); */

}
html {
  margin: 0;
  padding: 0;
}
.vertical {z-index: 9999;}
.horizontal {z-index: 9998;}

main {
  /* padding: 1rem; */
  padding-top: var(--horizontal-nav-width);
  padding-left: var(--vertical-nav-width);
  /* margin-top: var(--horizontal-nav-width);
  margin-left: var(--vertical-nav-width); */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 100vh;

  /* align-items: center; */

}
body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

ul.vertical {
  width: var(--vertical-nav-width);
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-speed) ease;
}
.vertical > .nav-item {
  margin-left: -2rem;
}
ul.horizontal {
  /* width: calc(100vw - (var(--vertical-nav-width) + 8rem)); */
  width: 100vw;
  height: var(--horizontal-nav-width);
  position: fixed;
  background-color: var(--bg-primary);
  margin: 0;
  /* padding-left: var(--vertical-nav-width); */
  padding-left: calc(-1 * var(--vertical-nav-width));
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
  padding-right: 2rem;
  /* justify-content: end; */
  /* padding-left: 80vh; */

  flex-direction: row;
  justify-content: end;
}

/* ul.vertical:hover {
  width: calc(var(--vertical-nav-width) * 1.25);
} */


.item {
  /* flex-grow: 1; */
  padding: 2rem;
  overflow-y: scroll;
  /* margin-left: 2rem; */
  /* width: 50%; */
  /* height: calc(100vh - var(--horizontal-nav-width)); */
  /* max-height: 80vh; */
  max-height: calc(100vh - (var(--horizontal-nav-width) + 4rem));
  resize: horizontal;
}
.first {
  margin-left: 2rem;
}
.first {
  min-width: 30%;
  /* width: 60%; */
  /* width: auto; */

  /* resize: horizontal; */
}
.second {
  min-width: 30%;
  /* width: auto; */
  /* resize: horizontal; */

}


.item::-webkit-scrollbar {
  width: 0.25rem;

}

.item::-webkit-scrollbar {
  resize: horizontal;

}

.item::-webkit-scrollbar-thumb {
  background: var(--accent-color);
}

.horizontal > .nav-item, .vertical > .nav-item > a, .nav-item > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 8vw; */
  width: 8rem;
  height: 5rem;
  /* color: var(--text-primary); */
  color: white;
  text-decoration: none;
  filter: grayscale(40%) opacity(.7);
  margin: 0;
  /* margin-left: auto; */
  /* margin-right: 40rem; */

  transition: var(--transition-speed);
}

.horizontal > .nav-item:hover, .vertical > .nav-item:hover > a {
  filter: grayscale(0%) opacity(1);
}


.nav-item svg {
  min-width: 2rem;
  max-width: 2rem;
}

svg > path, svg > line, svg > polygon, svg > polyline {
  stroke: var(--accent-color);
  transition: var(--transition-speed);
}

.fill-svg {
  fill: var(--accent-color);
}

li {
  list-style: none
}
#translation {
  color: var(--accent-color)
}

#search {
  /* width: calc(var(--vertical-nav-width) - (2 * 2rem)); */
  width: var(--vertical-nav-width);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
input {
  /* border-radius: 5px; */
  border: none;
  width: 16ch;
  background-color: var(--bg-secondary);
  color: white;
  text-transform: capitalize;
}
input::placeholder
input:-webkit-input-placeholder {
  color: red;
}
input[type="text"]{
  font-family: "Open Sans";
}

.accent{
  color: var(--accent-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-family: "Open Sans";
    -webkit-font-family: "Open Sans";
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;;
    transition: background-color 5000s ease-in-out 0s;
}
.interlinear-card, .commentary-header {
  display: flex;
  flex-direction: row;
}
.commentary-card {
  display: flex;
  flex-direction: column;
}
.interlinear-content, .commentary-content {
  width: 90%;
}
.interlinear-card > svg, .commentary-card > svg {
  align-items: center;
  padding: 2rem;
}
/* .commentary-header > svg:active {
  transform: rotate(90deg);
} */
.second {
  margin-right: 0;
}
.arrow {
  margin: auto

}
.arrow > path{
  fill: var(--bg-secondary);
  stroke: var(--bg-secondary);
}
.commentary-header:hover > .arrow > path, .interlinear-card:hover > .arrow > path, .arrow:hover > path {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}
.selected {
  filter:grayscale(0%) opacity(1) !important;
}

.verse-num {
  font-weight: bold;
}
#book-title {
  text-align: center;
}

#color-picker {
  width: 100%;
  margin: none !important;
  /* margin-right: 1rem; */
}